---
language: shell

os:
  - linux

jobs:
  include:
    - name: "Focal Fossa Test Build"
      dist: focal
      
    - name: "Bionic Beaver Test Build"
      dist: bionic
      
    - name: "Xenial Xerus Test Build"
      dist: xenial

git:
  quiet: true
  depth: false

env:
  global:
    - MAKEFLAGS="-j 2"

addons:
  apt:
    update: true
    packages:
      - wget
      - jq
      - cmake
      - yasm
      - libde265-dev
      - libx265-dev

cache:
  directories:
    - /usr/local/src

script:
  - sudo bash imei.sh --travis --log-file "build.log" || exit 1

after_failure:
  - sudo tail -5 build.log
